# -*- rpm-spec -*-
%global gem_name net_http_unix

Name:		%{?enterprise:pe-}rubygem-%{gem_name}
Version:	0.2.1
Release:	1.eos4
Summary:	Wrapper around Net::HTTP with AF_UNIX support

Group:		Development/Languages
License:    Apache 2.0 
URL:		http://github.com/puppetlabs/net_http_unix
Source0:	https://rubygems.org/gems/%{gem_name}-%{version}.gem

%if 0%{?enterprise:1} == 1
# Use these settings for Puppet Enterprise
%global gem /opt/puppet/bin/gem
Requires: pe-ruby
Requires: pe-rubygems
Provides: pe-rubygem(%{gem_name}) = %{version}
Provides: pe-rubygem-%{gem_name} = %{version}
%else
# Use these settings for all other installs
%global gem gem
Requires: ruby(abi) = %{rubyabi}
Provides: ruby(%{gem_name}) = %{version}-%{release}
%endif

BuildArch: noarch

%description
Wrapper around Net::HTTP with AF_UNIX support.

%prep
%setup -q -D -T -n  .

%install
install %{SOURCE0} %{buildroot}/

%files
/%{gem_name}-%{version}.gem

%post
%{gem} install --local /%{gem_name}-%{version}.gem > /dev/null 2>&1

%preun
%{gem} uninstall %{gem_name} --version '= %{version}' > /dev/null 2>&1

%changelog
* Tue Mar 17 2015 Jere Julian - 3.0.0-1
- Initial package loosely based off of gem2rpm output
