# -*- rpm-spec -*-
%global gem_name net_http_unix

Name:		%{?enterprise:pe-}rubygem-%{gem_name}
Version:	0.2.1
Release:	4.eos4
Summary:	Wrapper around Net::HTTP with AF_UNIX support

Group:		Development/Languages
License:    Apache 2.0 
URL:		http://github.com/puppetlabs/net_http_unix
Source0:	https://rubygems.org/gems/%{gem_name}-%{version}.gem

Requires: ruby(abi) = %{rubyabi}
Provides: ruby(%{gem_name}) = %{version}-%{release}

BuildArch: noarch

%description
Wrapper around Net::HTTP with AF_UNIX support.

%package chef
Group:      Development/Languages
Summary:   Net_http_unix rubygem packaged for Chef client
Requires: chef
Provides: chef-rubygem(%{gem_name}) = %{version}
Provides: chef-rubygem-%{gem_name} = %{version}
%description chef

%package puppet3
Group:      Development/Languages
Summary:   Net_http_unix rubygem packaged for Puppet Enterprise 3.x agents
Requires: pe-ruby
Requires: pe-rubygems
Provides: pe-rubygem(%{gem_name}) = %{version}
Provides: pe-rubygem-%{gem_name} = %{version}
%description puppet3

%package puppet-aio
Group:      Development/Languages
Summary:   Net_http_unix rubygem packaged for Puppet All-In-One (4.x) agents
Requires: puppet >= 4.0.0
Provides: rubygem-%{gem_name} = %{version}
%description puppet-aio

%prep
%setup -q -D -T -n  .

%install
mkdir -p %{buildroot}
install %{SOURCE0} %{buildroot}/

%files
/%{gem_name}-%{version}.gem

%files chef
/%{gem_name}-%{version}.gem

%files puppet3
/%{gem_name}-%{version}.gem

%files puppet-aio
/%{gem_name}-%{version}.gem

%post
GEM_OPTS="--no-document --local"
gem install ${GEM_OPTS} /%{gem_name}-%{version}.gem > /dev/null 2>&1

%preun
gem uninstall %{gem_name} --version '= %{version}' > /dev/null 2>&1

%post chef
GEM=/opt/chef/embedded/bin/gem
GEM_OPTS="--no-document --local"
${GEM} install ${GEM_OPTS} /%{gem_name}-%{version}.gem > /dev/null 2>&1

%preun chef
GEM=/opt/chef/embedded/bin/gem
${GEM} uninstall %{gem_name} --version '= %{version}' > /dev/null 2>&1

%post puppet3
GEM=/opt/puppet/bin/gem
GEM_OPTS="--no-document --local"
${GEM} install ${GEM_OPTS} /%{gem_name}-%{version}.gem > /dev/null 2>&1

%preun puppet3
GEM=/opt/puppet/bin/gem
${GEM} uninstall %{gem_name} --version '= %{version}' > /dev/null 2>&1

%post puppet-aio
GEM=/opt/puppetlabs/puppet/bin/gem
GEM_OPTS="--no-document --local"
${GEM} install ${GEM_OPTS} /%{gem_name}-%{version}.gem > /dev/null 2>&1

%preun puppet-aio
GEM=/opt/puppetlabs/puppet/bin/gem
${GEM} uninstall %{gem_name} --version '= %{version}' > /dev/null 2>&1pckage puppet3

%changelog
* Tue May 24 2016 Jere Julian - 0.2.1-4
- Add Chef package

* Fri Oct 30 2015 Jere Julian - 0.2.1-3
- Detect the location of the puppet-agent's gem install

* Thu May 21 2015 Jere Julian - 0.2.1-2
- Ubuntu requires we manually create the buildroot

* Tue Mar 17 2015 Jere Julian - 0.2.1-1
- Initial package loosely based off of gem2rpm output
