# -*- rpm-spec -*-
%global gem_name rbeapi

Name:		%{?enterprise:pe-}rubygem-%{gem_name}
Version:	REPLACEME
Release:	1.eos4
Summary:	Arista eAPI Ruby Library for the EOS command API

Group:		Development/Languages
License:    New BSD
URL:		https://github.com/arista-eosplus/rbeapi
Source0:	%{gem_name}-%{version}.gem

%if 0%{?enterprise:1} == 1
# Use these settings for Puppet Enterprise
%global gem /opt/puppet/bin/gem
Requires: pe-rubygems
Requires: pe-ruby
Requires: pe-rubygem(net-http-unix)
Requires: pe-rubygem(inifile)
Provides: pe-rubygem(%{gem_name}) = %{version}
Provides: pe-rubygem-%{gem_name} = %{version}
%else
# Use these settings for all other installs
%global gem gem
Requires: ruby(abi) = %{rubyabi}
Provides: ruby(%{gem_name}) = %{version}-%{release}
%endif


BuildArch: noarch

%description
The Ruby Cliet for eAPI provides a native Ruby implementation for programming
Arista EOS network devices using Ruby. The Ruby client provides the ability
to build native applications in Ruby that can communicate with EOS either
locally via Unix domain sockets (on-box) or remotely over a HTTP/S transport
(off-box). It uses a standard INI-style configuration file to specify one or
more connection profiles.

The rbeapi implementation also provides an API layer for building native Ruby
objects that allow for configuration and state extraction of EOS nodes. The API
layer provides a consistent implementation for working with EOS configuration
resources. The implementation of the API layer is highly extensible and can be
used as a foundation for building custom data models.

The library is freely provided to the open source community for building robust
applications using Arista EOS eAPI. Support is provided as best effort through
Github iusses.

%prep
%setup -q -D -T -n  .

%install
mkdir -p %{buildroot}
install %{SOURCE0} %{buildroot}/

%files
/%{gem_name}-%{version}.gem

%post
%{gem} install --local /%{gem_name}-%{version}.gem > /dev/null 2>&1

%preun
%{gem} uninstall %{gem_name} --version '= %{version}' > /dev/null 2>&1

%changelog
* Tue May 21 2015 Jere Julian - 0.1.0-2
- Ubuntu requires we manually create the buildroot

* Tue Mar 17 2015 Jere Julian - 0.1.0-1
- Initial package
